<ion-view view-title="О Центре Занятости Населения">
    <ion-content>
        <h3>Государственное казенное учреждение Ростовской области «Центр занятости населения города Шахты»</h3>
        <div class="card">
            <div class="item item-text-wrap">
                <p><span class = "span_h">Режим работы:</span></p>
                <p><span class="balanced">Понедельник – с 9-00 до 18-00</span></p>
                <p><span class="balanced">Вторник     – с 9-00 до 20-00</span></p>
                <p><span class="balanced">Среда       – с 9-00 до 18-00</span></p>
                <p><span class="balanced">Четверг     – с 9-00 до 19-00</span></p>
                <p><span class="balanced">Пятница     – с 9-00 до 16-45</span></p>
                <p><span class="assertive">Суббота     – выходной день</span></p>
                <p><span class="assertive">Воскресенье – выходной день</span></p>
            </div>
        </div>
        <div class="card">
            <div class="item item-text-wrap">
                <p>346500, г.Шахты, ул.Ленина, 194а</p>
                <p>тел.22-70-43, факс 22-48-89</p>
                <p>E-mail: czn@shakht.donpac.ru</p>
                <p>Телефон «Горячей линии» центра занятости населения города Шахты — 22-04-81</p>
            </div>
        </div>
    </ion-content>
    <a href="#" class="bar bar-footer bar-balanced" onclick="window.open('http://czn-shakhty.ru/', '_system');">
        <div class="title">Посетить сайт центра занятости</div>
    </a>
</ion-view>
